body {
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(to bottom, #0f4586, #acd1ff);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Encabezado principal */
  h1 {
    color: #ffffff;
    margin-top: 20px;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
  }
  
  /* Contenedor de datos actuales */
  #currentData {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  #currentData p {
    font-size: 1.1em;
    margin: 10px 0;
  }
  
  #currentData span {
    font-weight: bold;
    color: #4a90e2;
  }
  
  /* Estilo del gráfico */
  canvas#myChart {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  /* Botones */
  button {
    background-color: #4a90e2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #357ABD;
  }
  
  /* Botón Descargar CSV */
  #downloadCSVBtn {
    background-color: #357ABD;
  }
  
  #downloadCSVBtn:hover {
    background-color: #28527A;
  }
  
  /* Botón Descargar PDF */
  #downloadPDFBtn {
    background-color: #FF6F61;
  }
  
  #downloadPDFBtn:hover {
    background-color: #e4554d;
  }
  
  /* Ajustes para dispositivos pequeños */
  @media (max-width: 600px) {
    #currentData, canvas#myChart {
      width: 95%;
    }
    
    h1 {
      font-size: 1.8em;
    }
    
    button {
      font-size: 0.9em;
    }
  }
  