body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    font-family: apercu, sans-serif;
    
    background-color: rgb(156, 255, 141);
}
.content{
    display: flex;
    flex-direction: row;
}

/* Time Buttons  ------------------------------*/
#currentDateTime{
    margin: 0;
    padding: .3rem;
    background-color:rgb(246, 255, 68);
    color: green;

    width:100%;
    justify-content: center;

    display: flex; 
    justify-content: center; 
}

/* Header-------------------- */
/* Titles */
header{
    margin: 0;
    background-color: green;
    width: 100%;
    justify-items: center;

    color:rgb(246, 255, 73);
}

h1{
    font-weight: bolder
}

.title1{
    font-size: 4.5rem;
    margin: 0;
}
.title2{
    font-size: 1.5rem;
    margin-top: 0;
}



/* FocosNSensor --------------------------------------- */
.focosNSensor{
    color:rgb(216, 221, 117);
    width: 100% !important;
}


/* Focos ---------------------------------------- */
.focos {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 1rem; 

    width: 100% !important;

}

.foco {
    display: flex;
    flex-direction: column; 
    justify-content: center;

    font-family: 'Share Tech Mono', sans-serif;
    font-weight: bold;
    align-items: center;

    border-radius: 1rem;

    background-color: green;
    color: rgb(216, 221, 117);

    font-size: 1.5rem;
    width: 100% !important;
}

.foco .switch{
    margin-bottom: 1rem;
}


/* Temperatura y Humedad ------------------------------------------- */
.sensor{
    display: flex;
    flex-direction: column; 
    justify-content: center;

    align-items: center;

    background-color: green;
    color:rgb(216, 221, 117);
    margin-bottom: 1rem;

    width: 400px !important; 
    border-radius: 1rem;   
}

#tempGraph, #humGraph{
    background-color: rgb(253, 255, 208);
    border-radius: 8px;
}

#humGraph{
    margin-bottom: 2rem;
}



/* Graph ------------------------------------- */
.graphNButtons{
    background-color: green;
    border-radius: 16px;
    padding: 2.5rem;
    margin-left: 2.5rem;
}

#scatterPlot{
    background-color: white;
    margin: 5 rem;
    border-radius: 20px;
}

.graphNButtons label{
    color: rgb(253, 255, 208);
}

#updateButton{
    color: green;
    background-color: rgb(253, 255, 208);
    border: 0;
    padding: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-family: apercu, sans-serif;
    border-radius: 8px;

    font-weight: 500;
}



/* Buttons ------------------------------------- */
.function_buttons {
    display: flex;
    flex-direction: col; 
    justify-content: center; 
    gap: 1rem; 

    width: 100% !important;

}

.func_button{
    width: 50%;

    background-color: green;
    color: rgb(216, 221, 117);
    padding: 2rem;

    border-radius: 16px;

    border: 0;

    font-family: 'Share Tech Mono', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;    
}

.func_button:hover {
    cursor: pointer;
}

.func_button:active{
    color: green;
    background-color: rgb(216, 221, 117);
}

